.row::-webkit-scrollbar {
  display: none;
}

.row-title {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.9rem;
}

.row-carousel {
  display: flex;
  flex-direction: row;
  gap: 2.1rem;
  margin-bottom: 2.1rem;
  overflow-x: auto;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  scrollbar-width: none;
}
